@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

.navbar {
    background-color: #9DB2BF;
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
}

.nav-link {
    border-radius: 5px;
    padding: 8px 12px; /* Add padding for a button-like effect */
    color: #27374D;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-link:hover {
    background-color: #DDE6ED;
    text-decoration: none;
    color: #27374D; /* Optional: keep text color consistent on hover */
    border-radius: 5px;
}
