spring:
  application:
    name: UserMs
  config:
    import: consul://consul:8500/UserMs-Dev/application # Specifies that configuration should be loaded from Consul
  cloud:
    consul:
      discovery:
        hostname: UserMs
        port: 2003
      config:
        enabled: true  # Enable Consul configuration management
